<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933925321535-9ipkmprimgslijq61rvbjj3dou0qci39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933925321535-9ipkmprimgslijq61rvbjj3dou0qci39</string>
	<key>API_KEY</key>
	<string>AIzaSyCtxe84_MwNL7LUa82FGVEIztctccZ3QIE</string>
	<key>GCM_SENDER_ID</key>
	<string>933925321535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.builders.template.rn</string>
	<key>PROJECT_ID</key>
	<string>templates-react</string>
	<key>STORAGE_BUCKET</key>
	<string>templates-react.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933925321535:ios:2d8b2f3a5c9159c06d718a</string>
	<key>DATABASE_URL</key>
	<string>https://templates-react.firebaseio.com</string>
</dict>
</plist>